@layer reset, variables, styles, components, utilities;

@layer reset {
	/*
		Josh's Custom CSS Reset
		https://www.joshwcomeau.com/css/custom-css-reset/
	*/
	*, *::before, *::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
	}
	input, button, textarea, select {
		font: inherit;
	}
	p, h1, h2, h3, h4, h5, h6 {
		overflow-wrap: break-word;
	}
	a {
		color: var(--color-primary);
		text-underline-offset: 3px;
		text-decoration-skip-ink: none;
	}
	button {
		border: 0;
		background-color: transparent;
		font: inherit;
		cursor: pointer;
	}
	@media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}

@layer variables {
	:root {
		--color-primary: #473BF0;
		--color-light: #FFFFFF;
		--color-dark: #161C2D;
		--font-sans: 'Be Vietnam Pro', sans-serif;
	}
}

@layer components {
	.btn {
		border-radius: 8px;
		padding-inline: 20px;
		padding-block: 12px;
		text-decoration: none;
		font-weight: bold;
		color: var(--color-dark);
	}
	.btn--large {
		padding: 21px;
	}
	.btn--primary {
		color: var(--color-light);
		background-color: var(--color-primary);
	}
	.btn--full {
		width: 100%;
		text-align: center;
	}
}

@layer styles {
	html, body {
		font-family: var(--font-sans);
	}

	.site-header {
		position: sticky;
		inset-block-start: 0;
		inline-size: 100%;
		background-color: var(--color-light);
		z-index: 99;
	}

	.site-header__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 24px;
		position: relative;
		gap: 16px;
	}

	.site-header ul[role="navigation"] {
		list-style-type: none;
		padding-inline-start: 0;
	}

	.site-header ul[role="navigation"] > li a {
		padding: 12px 24px;
		display: block;
	}

	.site-header .logo {
		font-size: 1.3rem;
	}

	.site-header a {
		text-decoration: none;
		color: var(--color-dark);
		font-weight: 700;
	}

	#header-nav {
		position: absolute;
		inline-size: 100%;
		inset-inline-start: 0;
		inset-block-start: 100%;
		background-color: var(--color-light);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	#header-nav.open {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}

	@media screen and (min-width: 720px) {
		.site-header {
			background-color: #FFFFFFA1;
		}

		.site-header ul[role="navigation"] {
			display: flex;
			gap: 16px;
		}

		#header-nav {
			position: static;
			inline-size: auto;
			background-color: transparent;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}

		.site-header ul[role="navigation"] > li a {
			padding: 0;
			display: inline;
		}
	}
}

@layer components {
	.burger {
		border-radius: 8px;
		inline-size: 48px;
		block-size: 48px;
		border: solid 1px var(--color-dark);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.burger:hover,
	.burger:focus-visible {
		color: var(--color-primary);
		border-color: var(--color-primary);
		transition: color .3s ease-out, background-color .3s ease-out;

		svg {
			transform: translateY(-2px);
			transition: transform .3s ease-out;
		}
	}
	@media screen and (min-width: 720px) {
		.burger {
			display: none;
		}
	}
	.hero {
		margin-block-start: 75px;
		max-inline-size: 700px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-inline: 16px;
	}
	.hero > h1 {
		font-weight: bold;
		font-size: 3rem;
		line-height: 1.1em;
		text-align: center;
	}
	.hero > p {
		max-inline-size: 600px;
		margin-block-start: 20px;
		text-align: center;
	}
	.hero__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-block-start: 40px;
	}
	.screenshot {
		margin-block-start: 106px;
		max-inline-size: 844px;
		margin-inline: auto;
	}
	.screenshot img {
		inline-size: 100%;
		block-size: auto;
	}
}

@layer utilities {
	.flex {
		display: flex;
		gap: var(--gap, 0);
	}
	.flex-col { flex-direction: column; }
	.items-center { align-items: center; }
	.justify-center { justify-content: center; }
	.justify-end { justify-content: flex-end; }
	.space-between { justify-content: space-between; }

}

.presentation {
	margin: 2rem 10rem;
}

.presentation .items {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.presentation .items li {
	width: 289px;
}
.presentation .items li h2 {
	font-weight: 700;
	font-size: 21px;
	line-height: 32px;
	letter-spacing: -0.5px;
	color: #161C2D;
	margin: 20px 0px;
}

.presentation .items li p {
	font-weight: 400;
	font-size: 17px;
	line-height: 29px;
	letter-spacing: -0.2px;
	color: #161C2D;
}

.numbers { 
	background-color: #F4F7FA;
	height: 218px;
	padding: 0rem 13rem;

}

.numbers .items {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 80px 0;
	height: 58px;
	gap: 50px;
}

.numbers .items li {
	display: inline-flex;
	gap: 20px;
}
.numbers .items li strong { 
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	letter-spacing: -1.8px;
	color: #161C2D;
}

.numbers .items li p { 
	font-weight: 400;
	font-size: 17px;
	line-height: 29px;
	letter-spacing: -0.2px;
	color: #161C2D;
}

.testimonials {
	margin: 3rem 10rem;
	/* gap: 4rem; */
}

.testimonials blockquote {
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0 5rem;
}

.testimonials blockquote img {
	width: 72px;
    height: 72px;
    border-radius: 100px;
    border: 1px solid rgb(71 59 240 / 10%);
}

.testimonials blockquote strong {
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.5px;
	color: #161C2D;
}
.testimonials blockquote strong.quote::after {
	content:  "\"";
} 
.testimonials blockquote strong.quote::before {
	content:  "\"";
} 

.testimonials blockquote p {
	font-weight: 400;
	font-size: 17px;
	line-height: 29px;
	letter-spacing: -0.2px;
	color: #161C2D;
	text-align: center;
}

.testimonials blockquote cite {
	text-align: center;
}
.testimonials blockquote cite strong {
	font-weight: 700;
	font-size: 17px;
	line-height: 29px;
	letter-spacing: -0.2px;
	font-style: normal;
	color: #161C2D;
}

.testimonials blockquote cite p {
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: -0.1px;
	color: #161C2D;
	font-style: normal;
}

.pricing {
	background-color: #161C2D;
	padding-top: 5rem;
}

.pricing > h2 {
	color: white;
	font-weight: 700;
	text-align: center;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: -1.2px;
}

.pricing > p {
	color: white;
	font-weight: 400;
	text-align: center;
	font-size: 19px;
	line-height: 32px;
	letter-spacing: -0.2px;
	opacity: 65%;
}

.pricing > ul {
	display: flex;
	flex-direction: row;
	padding: 3rem 12rem;
	list-style: none;
	gap: 1.5rem;
}

.pricing > ul > li {
	background-color: #FFFFFF;
	width: 350px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.pricing > ul > li > h3 {
	margin-top: 15px;
	height: 29px;
	padding: 7px 10px;
	background-color: rgb(71 59 240 / 10%);
	color: #473BF0;
	font-weight: 700;
	font-size: 13px;
	line-height: 16.09px;
	letter-spacing: 1.63px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.pricing > ul > li > data {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	letter-spacing: -1.8px;
	text-align: center;
}

p.price-desc {
	padding: 25px 25px;
	text-align: center;
}

p.price-title{
	font-weight: 400;
	font-size: 17px;
	line-height: 29px;
	letter-spacing: -0.2px;
	color: #161C2D;
	opacity: 70%;
}

.faq {
	background-color: #161C2D;
	padding-bottom: 5rem;
}

.faq > ul {
	padding: 1rem 14rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 50px;
	list-style: none;
}

.faq > ul > li {
	width: 507px;
	position: relative;
}

.faq > ul > li::before {
	position:absolute;
	left:-40px;
	width: 29px !important;
	height: 29px !important;
	background-color: #68D585;
	color: #FFFFFF;
	border: 1px solid #68D585;
	content: "?";
	text-align: center;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}

.faq > ul > li > h3 {
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 21px;
	line-height: 32px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
}

.faq > ul > li > p {
	font-weight: 400;
	font-size: 17px;
	line-height: 29px;
	letter-spacing: -0.2px;
	color: #FFFFFF;
	opacity: 65%;
}

.faq > p {
	padding-top: 2rem;
	color: #FFFFFF;
	text-align: center;
}
.faq > p > a {
	color: #68D585;
}


.footer-section {
	justify-content: space-between;
	align-items: center;
	padding: 5rem 12rem;	
}

.footer-section div h3 {
	margin-bottom: 20px;
}

hr {
	opacity: 15%;
}

.footer-links {
	padding: 5rem 12rem;	
}

.footer-description {
	flex-basis: 30%;
}

.footer-description h4 {
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: -0.16px;
	color: #161C2D;
	margin-bottom: 1rem;
}

.footer-description p {
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: -0.1px;
	color: #161C2D;
	opacity: 70%;
}

.footer-list-links{
	list-style: none;
	flex-basis: 60%;
}

.footer-list-links > li > p {
	margin-bottom: 1.5rem;
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: -0.1px;
	color: #161C2D;
	opacity: 70%;
}
.footer-list-links > li > ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.footer-list-links > li > ul > li {
	font-weight: 400;
	font-size: 17px;
	line-height: 40px;
	letter-spacing: -0.2px;
	color: #161C2D;
}